/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{
  z-index: 2;
  color: #fff;
  background-color: #861212;
  border-color: #741010;
}
.jumbotron h1, .jumbotron .h1{

  color: #861212;

}
h2, .h2 {
    color: #861212;
}
.btn-primary{
    background-color: #861212;
    border-color: #741010;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color: #741010;
    border-color: #861212;
}
.metamenu li{
  text-decoration: none;
  list-style: none;
  float: left;
  padding: 0px 10px;
  
} 
.metamenu li a{
  color:#741010;
  cursor: pointer;
}
.metamenu li a:hover{
  color:#999;
  cursor: pointer;
}

ul{
  padding-left: 0px; 
}
