.powermail_fieldset{
  background: none;
  border: none;
}

.powermail_submit{
     background-color: #861212;
    border-color: #741010;
}

.powermail_label{
    color: #861212;
}
.powermail_legend{
  color: #999;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}