<f:layout name="default" />

<f:section name="content">
    <div class="row main">
        <div class="col-md-8">
            <f:format.raw>{content}</f:format.raw>
        </div>
        <div class="col-md-4 sidebar">
            <f:format.raw>{content_sidebar}</f:format.raw>
        </div>
    </div>

</f:section>