// Include variables from bootstrap
@import "../../../lib/bootstrap/3.2/less/variables.less";

// ------------------------------------------------------------
// Use to overwrite variables from default bootstrap
// (and vice-versa, recreate bootstrap css from less files in lib/bootstrap if used)
//
//@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
//@font-size-base:          14px;
//@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
//@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
//@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
//@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
//@line-height-base:        1.428571429; // 20/14