
<!-- ----------------------------------------------------------------------
   Templates for form fields
  ---------------------------------------------------------------------- -->

<!-- ###field_salutation### -->
<div class="form-group">
    <label class="col-sm-3 control-label text-left">###LLL:salutation###</label>
    <div class="col-sm-9">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-info btn-sm">
                <input type="radio" name="formhandler[salutation]" class="radiogrpbtn" id="formhandler_salutation_mr" value="###LLL:mr###" checked="checked" > ###LLL:mr###
            </label>
            <label class="btn btn-info btn-sm">
                <input type="radio" name="formhandler[salutation]" class="radiogrpbtn" id="formhandler_salutation_mrs" value="###LLL:mrs###" > ###LLL:mrs###
            </label>
        </div>
    </div>
</div>
<!-- ###field_salutation### -->

<!-- ###field_input9### -->
<div class="form-group ###is_error_###fieldname######">
    <label for="###fieldname###" class="col-sm-3 control-label text-left">###LLL:###fieldname###### ###required_###fieldname######</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="###fieldname###" name="formhandler[###fieldname###]" placeholder="###LLL:###fieldname######" value="###value_###fieldname######">
        ###error_###fieldname######
    </div>
</div>
<!-- ###field_input9### -->


<!-- ###field_textarea12### -->
<div class="form-group ###is_error_###fieldname######">
    <div class="col-sm-12">
        <textarea class="form-control ###is_error_###fieldname######" id="###fieldname###" name="formhandler[###fieldname###]" rows="3" placeholder="###LLL:###fieldname###_placeholder###">###value_###fieldname######</textarea>
        ###error_###fieldname######
    </div>
</div>
<!-- ###field_textarea12### -->


<!-- ###field_submit### -->
<div class="form-group">
    <div class="col-sm-11">
        <button type="submit" class="btn btn-primary">###LLL:btn_###fieldname######</button>
    </div>
</div>
<!-- ###field_submit### -->
