body {
  padding: 20px 0px;
}
header .logo img.logo {
  width: 240px;
}
.row.main .sidebar {
  margin-top: 68px;
}
footer .container .row {
  margin-top: 60px;
  padding-top: 20px;
  border-top: 1px dotted #ccc;
}
