{namespace n=Tx_News_ViewHelpers}

<f:if condition="{configuration.insertAbove}">
    <f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
    <f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
</f:if>

<f:section name="paginator">
    <f:if condition="{pagination.numberOfPages} > 1">
        <f:if condition="{settings.list.paginate}">
            <f:if condition="{pagination.current} > 1">
                <n:headerData><link rel="prev" href="<f:widget.uri arguments="{currentPage: pagination.previousPage}" />" /></n:headerData>
            </f:if>
            <f:if condition="{pagination.nextPage}">
                <n:headerData><link rel="next" href="<f:widget.uri arguments="{currentPage: pagination.nextPage}" />" /></n:headerData>
            </f:if>
        </f:if>

        <div class="page-navigation test">
            <p>
                <f:translate key="paginate_overall" arguments="{0:pagination.current,1:pagination.numberOfPages}" />
            </p>
            <ul class="f3-widget-paginator">
                <f:if condition="{pagination.previousPage}">
                    <li class="previous">
                        <f:if condition="{pagination.previousPage} > 1">
                            <f:then>
                                <f:widget.link arguments="{currentPage: pagination.previousPage}">
                                    <f:translate key="paginate_previous" />
                                </f:widget.link>
                            </f:then>
                            <f:else>
                                <f:widget.link>
                                    <f:translate key="paginate_previous" />
                                </f:widget.link>
                            </f:else>
                        </f:if>
                    </li>
                </f:if>
                <f:if condition="{pagination.displayRangeStart} > 1">
                    <li class="first">
                        <f:widget.link>1</f:widget.link>
                    </li>
                </f:if>
                <f:if condition="{pagination.hasLessPages}">
                    <li>....</li>
                </f:if>
                <f:for each="{pagination.pages}" as="page">
                    <f:if condition="{page.isCurrent}">
                        <f:then>
                            <li class="current">{page.number}</li>
                        </f:then>
                        <f:else>
                            <li>
                                <f:if condition="{page.number} > 1">
                                    <f:then>
                                        <f:widget.link arguments="{currentPage: page.number}">{page.number}</f:widget.link>
                                    </f:then>
                                    <f:else>
                                        <f:widget.link>{page.number}</f:widget.link>
                                    </f:else>
                                </f:if>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>
                <f:if condition="{pagination.hasMorePages}">
                    <li>....</li>
                </f:if>
                <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
                    <li class="last">
                        <f:widget.link arguments="{currentPage: pagination.numberOfPages}">{pagination.numberOfPages}</f:widget.link>
                    </li>
                </f:if>
                <f:if condition="{pagination.nextPage}">
                    <li class="last next">
                        <f:widget.link arguments="{currentPage: pagination.nextPage}">
                            <f:translate key="paginate_next" />
                        </f:widget.link>
                    </li>
                </f:if>
            </ul>
        </div>
        <div class="news-clear"></div>
    </f:if>
</f:section>
